%input.patient-search{type:"text", placeholder: "Search"}
%input.clinic-id{type:"hidden", name:"clinic_id", value: @clinic_id}
%button.search-patients Search

%br
- @patients.each do |patient|
	%li{class: "search-index{index.id}"}
	= link_to "View Patient", clinic_patient_path(@clinic, patient)
	%br
	= patient.first_name
	= patient.last_name