.jumbotron.clinics {
	background-image: image-url("clinic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
}

body {
	background-color: #f0f2ff;
	background-image: url(http://www.transparenttextures.com/patterns/brick-wall.png);

}