.container
	.row
		.col-lg-1
			%ul.nav.nav-pills.nav-stacked
				%li{class: active_link('home')}
					= link_to "Home", root_path
				%li{class: active_link('clinics')}
					= link_to "Clinics", clinics_path
				%li{class: active_link('doctors')}
					= link_to "Doctors", doctors_path